<template>
  <div>
    <v-card
        v-for="(task, id) in Tasks"
        :key="id"
        style="box-sizing: content-box"
        elevation="3"
        class="mx-5 my-2 py-1 px-1">
      <div :style="borderColor(task.color)"
          class="d-flex flex-row align-center justify-space-between py-5"
      >
        <div class="d-flex flex-row align-center">
          <v-icon :color="task.color" x-small class="px-1">
            mdi-checkbox-blank-circle
          </v-icon>

          <div class="font-weight-regular mx-3" style="font-size: 1.1rem">
            {{task.taskTitle}}
          </div>
        </div>

        <RemoveTask :task="task"/>
      </div>
    </v-card>
  </div>
</template>

<script lang="ts">
import {Vue,Prop, Component} from "vue-property-decorator";
import {TaskFormat} from "@/store/types";
import Task = TaskFormat.Task;
import RemoveTask from "@/components/Tasks/Actions/RemoveTask.vue";
@Component({
  components: {RemoveTask}
})
export default class AllTasks extends Vue{
  @Prop()
  Task !: Task

  get Tasks (): Array<Task>{
    return  this.$store.getters["TaskStore/Tasks"]
  }


   borderColor (color) {
    if(!this.$vuetify.rtl){
      return `border-right: 5px solid ${color}`
    }
    else {
      return `border-left: 5px solid ${color}`
    }
  }






}
</script>
<style lang="sass">

</style>