<template>
<div>
    <v-app-bar
        prominent
        height="50px"
        elevation="0"
        color="white"
        style="position: relative"
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" style="color: #007BFF"></v-app-bar-nav-icon>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon color="primary" >mdi-magnify</v-icon>
      </v-btn>


    </v-app-bar>
    <div style="width: 100%">
        <v-select
            style="width: 31%; margin: 0 auto;
                   position: absolute; top: 0.8rem; left: 8.7rem;"
            :items="months"
            item-text="text"
            item-value="value"
            v-model="defaultSelectedMonth"
            @change="commitChangeMonth"
            label="Select"
            dense
            solo
            flat
            :menu-props="{bottom: true, offsetY: true}"
            hide-selected
            hide-details
            return-object
        ></v-select>
    </div>
    <v-navigation-drawer
        v-model="drawer"
        absolute
        temporary
        width="100px"
        :right="drawerLang"
    >
      <v-list
          nav
          dense
          v-model="group"
      >
        <v-list-item-group
            active-class="primary--text"
        >
          <v-list-item>
            <v-list-item-title>
              <v-select
              v-model="language"
              :items="changeLang"
              ></v-select>
            </v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
</div>
</template>

<script lang="ts">
import {Vue, Watch, Component} from "vue-property-decorator";
import {TaskFormat} from "@/store/types";
import Task = TaskFormat.Task;

@Component({

})
export default class Header extends Vue{

  drawer = false
  group = null

  get changeLang() {
    return [
      {
        text: this.$t('menu.persian'),
        value: 'fa'},
      {
        text: this.$t('menu.english'),
        value: 'en'},
    ]
  }

  language = this.$i18n.locale
  drawerLang = this.$vuetify.rtl

  months = [
    { text: 'January', value: 0},
    { text: 'February', value: 1},
    { text: 'March', value:  2},
    { text: 'April', value: 3},
    { text: 'May', value: 4},
    { text: 'June', value: 5},
    { text: 'July', value: 6},
    { text: 'August', value: 7},
    { text: 'September', value: 8},
    { text: 'October', value: 9},
    { text: 'November', value: 10},
    { text: 'December', value: 11},
  ]

  commitChangeMonth(value) {
    this.$store.commit('TaskStore/setSelectedMonth', value)
  }

  currentMonthNum = 0
  defaultSelectedMonth : any = 0;

  searchingItem = "Design"
  filterItem = this.Tasks.filter( Task => Task.taskTitle?.includes(this.searchingItem));
  filterTask (){
    return console.log(this.filterItem)
  }

  // eslint-disable-next-line no-undef
  get Tasks (): Array<Task>{
    return  this.$store.getters["TaskStore/Tasks"]
  }

  @Watch('language')
  switchLanguage (){
    this.$vuetify.rtl = this.language === 'fa';
    this.$i18n.locale = this.language
    this.drawer = false
  }

  @Watch('group')
  changeDrawerValue (){
    this.drawer = false
  }

  mounted(){
    this.defaultSelectedMonth = this.$store.getters['TaskStore/currentMonth']
    this.currentMonthNum = new Date().getMonth()
    this.defaultSelectedMonth = this.months.find(month => month.value === this.currentMonthNum)
  }

}
</script>
<style>

</style>