<template>
  <v-card elevation="0">
    <div class="d-flex flex-row justify-space-between mx-6 my-3">
      <div v-for="(day, index) in visibleDays" :key="index" >
        <div @click="setSelectedDate(day.date)">
          {{
            new Date(day.date).getDay()
          }}
        </div>
      </div>
    </div>
  </v-card>
</template>

<script lang="ts">
import {Vue, Component, Watch} from "vue-property-decorator";
import moment from "moment";
@Component
export default class Header extends Vue{
  weekDays = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
  year = new Date().getFullYear()
  month = new Date().getMonth()
  visibleDayArray:Array<object> = []
  get visibleDays() {
    return this.visibleDayArray
  }

  setSelectedDate(value) {
    this.$store.commit('TaskStore/setSelectedDate', value)
  }

  get selectedDate() {
    return this.$store.getters['TaskStore/currentDate']
  }

  @Watch('selectedDate')
  calculateNewVisibleDays() {
    this.visibleDayArray = []
    for(let i = -3;  i<=3; i++) {
      this.visibleDayArray.push({
        index: i,
        date: this.addHoursToDate(this.selectedDate, i)
      })
    }
  }
  addHoursToDate(objDate, days) {
    return moment(objDate).add(days, 'd')
  }
  getNumberOfDays(year,month){
    let numDays = new Date(year, month+1, 0).getDate();
    return numDays
  }
  mounted() {
    this.calculateNewVisibleDays()
    console.log(this.getNumberOfDays(this.year,this.month))
  }

}

</script>
<style>

</style>