<template>
  <v-app>
    <v-card
        class="mx-auto overflow-hidden"
        width="100vw"
        elevation="0"
        height="100vh"
    >
      <Header/>
      <WeekDays/>
      <SpecificDayTasks/>
      <AddTask/>


    </v-card>
  </v-app>
</template>

<script lang="ts">
import {Vue, Component} from "vue-property-decorator";
import Header from "@/components/layout/Header.vue";
import WeekDays from "@/components/layout/WeekDays.vue";
import TaskCard from "@/components/Tasks/AllTasks.vue";
import SpecificDayTasks from "@/components/Tasks/AllTasks.vue";
import AddTask from "@/components/Tasks/Actions/AddTask.vue";

@Component({
  components: {AddTask, SpecificDayTasks, TaskCard, WeekDays, Header}
})
export default class App extends Vue{


}
</script>
<style>

html{
  margin: 0 auto;
  width: 375px;
  overflow: hidden;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}

.vpd-header{
  display: none;
}
.vpd-content{
  margin: 0 auto;
}
.v-input__slot{
  padding: 0!important;
}
.v-tab{
  min-width: 53px!important;
}
</style>