<template>
  <v-row justify="center">
    <v-dialog
        v-model="dialog"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
            color="primary"
            rounded
            v-bind="attrs"
            v-on="on"
            fab
            elevation="5"
            right
            fixed
            style="right: 5vw;bottom: 20vh"
        >
          <v-icon x-large>mdi-plus</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-toolbar
            elevation="0"
            class="px-0"
        >
          <v-btn
              icon
              color="primary"
              @click="dialog = false"
              class="mx-1"
          >
            <v-icon small>mdi-arrow-left</v-icon>
          </v-btn>
          <v-toolbar-title style="margin: 0 auto">{{$t('newTask.title')}}</v-toolbar-title>
        </v-toolbar>
        <v-list style="margin: 0 auto" class="pt-0">
          <v-list-item class="px-0">
            <v-list-item-content>
                <input
                    type="text"
                    class="custom-input"
                    style="display: none;"
                />
                <date-picker  v-model="createdAt"
                              format="YYYY-MM-DD"
                              display-format="jYYYY-jMM-jDD"
                              custom-input=".custom-input"
                              inline
                              auto-submit
                />
            </v-list-item-content>
          </v-list-item>
          <v-list-item class="px-0">
            <v-list-item-content class="pt-1">
              <v-card class="pt-6 px-4" style="max-width: 260px;margin: 0 auto;">
                <div class="d-flex flex-column justify-start">
                  <div>
                    <p class="ma-0 font-weight-bold secondary--text">{{ $t('newTask.notes') }}</p>
                  </div>
                  <v-text-field
                      v-model="taskTitle"
                      placeholder="Something to do..."
                      clearable
                      clear-icon="mdi-close-box-outline"
                      class="mb-3"
                      flat
                      solo
                      hide-details
                      dense
                      required
                  ></v-text-field>
                </div>

                <div class="d-flex flex-column justify-start">
                  <div>
                    <p class="mx-0 my-1 font-weight-bold secondary--text">{{ $t('newTask.time') }}</p>
                  </div>
                  <input
                      type="time"
                      class="custom-alarm-input"
                  />
                  <date-picker v-model="todoTime" type="time" custom-input=".custom-alarm-input" />
                </div>

                <div class="d-flex flex-row justify-space-between align-start mt-3">
                  <div style="width: 70%" class="d-flex flex-column justify-start">
                    <div>
                      <p class="mx-0 my-2 font-weight-bold secondary--text">{{ $t('newTask.alarm') }}</p>
                    </div>
                    <input
                        type="text"
                        class="custom-alarm-input2"
                        placeholder="00:00"
                    />
                    <date-picker v-model="alarm" type="time" custom-input=".custom-alarm-input2" :disabled="alarmStatus === false"/>
                  </div>
                  <v-switch v-model="alarmStatus" @click="!(alarmStatus)" class="my-0" ></v-switch>
                </div>

                <div class="mb-2 mt-6">
                  <div>
                    <p class="mx-0 mb-1 font-weight-bold secondary--text">{{ $t('newTask.color') }}</p>
                  </div>
                  <v-color-picker
                      class="py-0"
                      hide-canvas
                      hide-inputs
                      v-model="color"
                  ></v-color-picker>
                </div>
              </v-card>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-btn
                style="margin: 0 auto"
                elevation="0"
                color="primary"
                @click="addTask"
            >
              ADD YOUR TASK
            </v-btn>
          </v-list-item>
        </v-list>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script lang="ts">
import {Vue, Component} from "vue-property-decorator";


@Component
export default class AddTask extends Vue{
  dialog = false

  createdAt = ''
  taskTitle = 'nothing'
  todoTime = ''
  alarm = ''
  alarmStatus = ''
  color = ''


  addTask (){
    this.$store.commit('TaskStore/add_task', {
      createdAt : this.createdAt,
      taskTitle : this.taskTitle,
      todoTime : this.todoTime,
      alarm : this.alarm,
      alarmStatus : this.alarmStatus,
      color : this.color
    })
    this.dialog = false
  }
}
</script>
<style scoped>

</style>