<template>
  <div>
    <v-btn icon x-small class="mx-1">
      <v-icon color="delete" @click="removeTask(task)">mdi-delete-outline</v-icon>
    </v-btn>
  </div>
</template>

<script lang="ts">
import {Vue, Component, Prop} from "vue-property-decorator";
import {TaskFormat} from "@/store/types";
import Task = TaskFormat.Task;




@Component
export default class RemoveTask extends Vue{
  @Prop()
  task !: Task


  removeTask(item){
    this.$store.dispatch('TaskStore/deleteTask', item)
  }
}
</script>
<style lang="sass">

</style>